.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}

.JokeList-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-width: 200px;
  max-width: 350px;
  background: #9575cd;
  color: #fff;
  padding: 1rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22),
    inset 0 0 25px #7e57c2;
  z-index: 2;
}

.JokeList-img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
}

.JokeList-title {
  font-size: 2.6rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

.JokeList-title span {
  font-weight: 600;
  letter-spacing: 0rem;
}

.JokeList-getmore {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.JokeList-jokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 80%;
  width: 70%;
  min-width: 200px;
  max-width: 1440px;
  background: #fff;
  color: #000;
  padding: 1rem;
  overflow: scroll;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22),
    inset 0 0 25px #7e57c2;
}

.JokeList-jokes::-webkit-scrollbar {
  width: 0;
}
